name: Update Commit Stats

on:
  push:
    branches: [ main ]

  schedule:
    - cron: "0 */6 * * *"

  workflow_dispatch:

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install deps
        run: pip install requests

      - name: Run commit stats script
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          python update_commits.py \
            --username MUKUL-PRASAD-SIGH \
            --months 12 \
            --start 2008-01-01 \
            --readme README.md

      - name: Commit README changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add README.md
          git commit -m "Update commit stats [skip ci]" || echo "No changes"
          git push
